.header {
  width: 100vw;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.337);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  box-sizing: border-box;
  position: fixed;
}
.header__title {
  font-size: 20px;
  font-weight: 500;
}
.header__nav {
  display: flex;
  gap: 140px;
}
.header__nav li {
  font-size: 17px;
}
.header__nav li a {
  text-decoration-line: none;
  color: black;
}
.header__nav li a:hover {
  color: rgb(42, 51, 150);
}
